<%= form_with(model: question, local: true) do |form| %>

  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :question_content %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.select :year, 2000..2017, selected: 2017, id: :question_year %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, id: :question_source %>
  </div>

  <ul>
  <%= form.fields_for :alternatives do |alter_forms| %>
    <li>
      <div class="field">
        <%= alter_forms.text_field :content %>
        <%= alter_forms.label "correta?" %>
        <%= alter_forms.check_box :correct %>
      </div>
    </li>
  <% end %>
  </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
