<% unless @pending.any? or @rejected.any? or @approved.any? %>
  <div class="row">
    <div class="col offset-s2 s8">
      <p style="color: gray; font-size: 23px; text-align: center; margin-top: 30%">
        Você não possui nenhuma questão cadastrada, use o botão abaixo para
        cadastrar novas questões. </p>
    </div>
  </div>
<% end %>
<% if @pending.any? %>
<h5>Pendentes</h5>
<ul class="collapsible" data-collapsible="accordion" >
  <% @pending.each do |question| %>
  <li>
    <div class="collapsible-header">
      <%= link_to "\##{question.id}", question, {title: "Mostra Questão"} %> &nbsp
      (<%= question.source %>, <%= question.year %>)&nbsp
      <%= question.content %>
    </div>
    <div class="collapsible-body" style="background-color: #fff">
      <div class="row">
        <div class="col s4">
           Por <i><%= question.user.email%></i>
        </div>
        <div class="col s4">
          <% if current_user.admin? %>
            <%= link_to 'Revisar', question %>
          <% else %>
            <%= link_to 'Editar', edit_question_path(question) %> &nbsp &nbsp
            <%= link_to 'Apagar', question, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end%>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <% i = 0%>
          <% for alt in question.alternatives %>
          <div class="col s1 mark-alternativa <%= alt.correct ? 'correta' : 'incorreta'%>"></div>
          <div class="col s10">
            <%= ('A'..'E').to_a[i] %>)
             <%= alt.content %>
            <% i = i+1%>
          </div>
          <% end %>
        </div>
        <div class="col s6">
          <%= render 'last_hint_and_list', question: question %>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<% end %>

<% if  @rejected.any? %>
<h5>Reprovadas</h5>
<ul class="collapsible" data-collapsible="accordion" >
  <% @rejected.each do |question| %>
  <li>
    <div class="collapsible-header">
      <%= link_to "\##{question.id}", question, {title: "Mostra Questão"} %> &nbsp
      (<%= question.source %>, <%= question.year %>)&nbsp
      <%= question.content %>
    </div>
    <div class="collapsible-body" style="background-color: #fff">
      <div class="row">
        <div class="col s4">
           Por <i><%= question.user.email%></i>
        </div>
        <div class="col s4">
          <% unless current_user.admin? %>
          <td><%= link_to 'Corrigir',  edit_question_path(question) %></td>&nbsp &nbsp
          <td><%= link_to 'Apagar', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <% i = 0%>
          <% for alt in question.alternatives %>
          <div class="col s1 mark-alternativa <%= alt.correct ? 'correta' : 'incorreta'%>"></div>
          <div class="col s10">
            <%= ('A'..'E').to_a[i] %>)
             <%= alt.content %>
            <% i = i+1%>
          </div>
          <% end %>

        </div>
        <div class="col s6">
          <%= render 'last_hint_and_list', question: question %>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<% end %>

<% if  @approved.any? %>
<h5>Aprovadas</h5>
<ul class="collapsible" data-collapsible="accordion" >
  <% @approved.each do |question| %>
  <li>
    <div class="collapsible-header">
      <%= link_to "\##{question.id}", question, {title: "Mostra Questão"} %> &nbsp
      (<%= question.source %>, <%= question.year %>)&nbsp
      <%= question.content %>
    </div>
    <div class="collapsible-body" style="background-color: #fff">
      <div class="row">
        <div class="col s4">
          <% i = 0%>
          <% for alt in question.alternatives %>
          <div class="col s1 mark-alternativa <%= alt.correct ? 'correta' : 'incorreta'%>"></div>
          <div class="col s10">
            <%= ('A'..'E').to_a[i] %>)
             <%= alt.content %>
            <% i = i+1%>
          </div>
          <% end %>

        </div>
        <div class="col s6">
          <%= render 'last_hint_and_list', question: question %>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<% end %>
<% unless current_user.admin? %>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light" href="<%= new_question_path %>">
    <i class="material-icons">add</i>
  </a>
</div>
<% end %>
