<div class="row">
  <div class="col s7">
    <h3>Questão #<%= @question.id %></h3>
    <p>
      <% unless current_user.admin? %>
        <% if @question.status == 'pendente'%>
          <%= link_to 'Editar', edit_question_path(@question)  %> |
        <% end %>
        <% if @question.status == 'reprovada'%>
          <%= link_to 'Corrigir', edit_question_path(@question)  %> |
        <% end %>
      <% end %>
     <%= link_to 'Lista de Questões', questions_path %>
   </p>

   <p>
     Essa questão está <i><%= @question.status %></i>.
   </p>

   <p class="content">
     <%= @question.content %>
     <br> -
     <span>
       <%= @question.source %>, <%= @question.year %>
     </span>
   </p>
   <% i = 0%>
   <% for alt in @question.alternatives %>
     <div class="row">
       <div class="col s1 mark-alternativa <%= alt.correct ? 'correta' : 'incorreta'%>"></div>
       <div class="col s">
         <%= ('A'..'E').to_a[i] %>)
          <%= alt.content %>
         <% i = i+1%>
       </div>
     </div>
   <%end%>
 </div>
 <div class="col s5">
    <%= render 'last_hint_and_list', question: @question %>
 </div>
</div>
