<div class="row">
  <div class="offset-s2 col s8">
    <div class="card">
        <div class="card-content">
          <span class="card-title">Sua conta</span>
          <p> Abaixo você pode alterar os dados de sua conta, inclusive sua senha.
              <br>Você também pode cancelar sua conta, mas lembre-se que essa ação
              é irreversível.
          </p>
          <br>
          <div class="row">
            <div class="offset-s1 col s10">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                  <%= f.label :name %><br />
                  <%= f.text_field :name, autofocus: true %>
                </div>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>

                <div class="field">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "off" %>
                </div>
            </div>
          </div>
        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light" name="action" type="submit">Salvar<i class="material-icons right">save</i></button>
          <p><%= button_to "CANCELAR MINHA CONTA", registration_path(resource_name), data: { confirm: "Você tem certeza, que quer cancelar sua conta?" }, method: :delete, class: "btn red waves-effect waves-light" %></p>
          <%= link_to "Back", :back %>
        </div>
        <% end %>
    </div>
  </div>
</div>
