<!DOCTYPE html>
<html>
 <head>
  <header class="navbar-fixed">
    <nav class="light-pink darken-1">
      <div class="nav-wrapper container">
        <a>Questpool</a>
        <ul class="right" >
          <%= render 'devise/menu/login_items' %>
          <%= render 'devise/menu/registration_items' %>
        </ul>
      </div>
    </nav><!--Tap Target Structure-->
  </header>
    <title>Questpool</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content"   class="container">
      <p id="notice" class="notice"><%= notice %></p>
      <p id="alert" class="alert"><%= alert %></p>
      <%= yield %>
    <div>
  </body>
</html>
